
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style: none;
   text-decoration: none;


  }
  body{
    background-color: beige ;
     margin: 0;
     padding: 0;
  }
 


  #boton{
    width: 90%;
    height: 70%;
  }
 
  #titulo{
    background-color:rgba(255,0,255,0.3);
    border: 2px solid hwb(260 42% 57%);
    border-radius: 8px;
    padding: 1px;
  }
 
  h1{
    font-size: 30px;
  }
#imagen1{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid hwb(260 42% 57%);
}
   
#imagen12 {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid hwb(260 42% 57%);
}
    
#imagen13 {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid hwb(260 42% 57%);
}

  #myclick{
   
      background-color: blue;
      height: 70px;
      padding: 13px 20px;
      text-align: center;
      color: white ;
      font-size:120%;
      border: 1px solid rgb(17, 17, 17);
      border-radius: 8px;
      text-decoration: none;
      content: "";
      display: -webkit-inline-box;
      clear: right;
      
    }

    #myclick:hover{
      color: black;
      background-color: hsl(120, 44%, 35%);
      font-size: 130%;
    transition: 0.2s;
     }

  #tercerclick{
    background-color: #230de4;
    padding: 13px 20px;
    text-align: center;
    display: inline-block;
    color: white ;
    font-size:100%;
    border: 3px solid rgb(17, 17, 17);
    border-radius: 12px;
  }

  .centro{
    text-align: center;
  }

  .center {
    text-align: center;
  }
  .paginas{
    display: inline-block;
  }
  .paginas a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  .paginas a.active {
    background-color: #4CAF50;
    color: white;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}



div.gallery {
    border: 2px solid hwb(260 42% 57%);
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  }
  
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 400px;
   
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
 

  .menu {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color:#202788 ;
    padding: 5px;
  }

  .header-titulo {
    text-align: left;
    font-weight: bold;
    margin-right: 10px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    flex: 1;
  }

  .nav-bars {
    display: flex;
    align-items: center;
  }

  .nav-bars ul {
    list-style: none;
    padding: 5px;
    display: flex;
  }

  .nav-bars ul li {
    margin-left: 20px;
  }

  .nav-bars ul li:first-child {
    margin-left: 0;
  }

  .nav-bars ul li a {
    display: block;
    color: black;
    font-size: 15px;
    padding: 5px 4px;
    transition: 0.4s;
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(238, 241, 239, 0.3);
  }

  .nav-bars ul li a:hover {
    font-size: 120%;
    color: #cf1515;
  }

  


  .bars {
    display: none;
  }

  /* Estilos para el menú desplegable en dispositivos móviles */
  @media only screen and (max-width: 768px) {

    .responsive {
      width: 100%;
    }

    .bars{
      display: block;
      cursor: pointer;
    }
    body{
      padding-top: 30px;
    }
    
    .bars .line{
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 6px 8px;
    }
    .nav-bars{
      display: block;
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      width: 100vw;
      background-color:#202788 ;
      overflow: hidden;
    overflow-y: auto;
    transition: top 0.4s;
    
    }
    .nav-bars a{
    
      border-radius: 8px ;
    }
    
    .nav-bars.nav-menu-link{
      height: 550px;
      margin-top: 110px;
      
    
    }
    .nav-menu-link:hover{
      font-size: 100%;
      color: hsl(125, 62%, 33%);
     }
    
    .nav-bars ul{
      display: block;
      width: fit-content;
      margin: 15px auto 0 auto;
      text-align: center;
      padding: 10px 0;
      
    
    }
    
    .nav-bars.active{
      height: 450px;
    }
    .nav-bars.active ul{
     opacity: 1;
    
    }
    .nav-bars ul li a{
      margin-bottom: 20px;
      
    }

    .sub-menu ul {
      display: block;
      background-color:#202788 ;
      padding: 10px;
      border-radius: 8px;
    }
    
    .sub-menu ul li {
      margin: 0;
    }
    
    .sub-menu ul li a {
      margin-bottom: 0;
      padding: 5px;
      border-radius: 4px;
    }


 
  }
  
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }

    .responsive {
      width: 100%;
    }

    .bars{
      display: block;
      cursor: pointer;
    }
    body{
      padding-top: 30px;
    }
    
    .bars .line{
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 6px 8px;
    }
    .nav-bars{
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      width: 100vw;
      background-color:#202788 ;
      overflow: hidden;
    overflow-y: auto;
    transition: top 0.4s;
    
    }
    .nav-bars a{
   
      border-radius: 8px ;
    }
    
    .nav-bars.nav-menu-link{
      height: 550px;
      margin-top: 110px;
      
    
    }
    .nav-menu-link:hover{
      font-size: 100%;
      color: hsl(125, 62%, 33%);
     }
    
    .nav-bars ul{
      display: block;
      width: fit-content;
      margin: 15px auto 0 auto;
      text-align: center;
      padding: 10px 0;
      
    
    }
    
    .nav-bars.active{
      height: 450px;
    }
    .nav-bars.active ul{
     opacity: 1;
    
    }
    .nav-bars ul li a{
      margin-bottom: 20px;
      
    }
 
    .sub-menu ul {
      display: block;
      background-color: #36373a;
      padding: 10px;
      border-radius: 8px;
    }
    
    .sub-menu ul li {
      margin: 0;
    }
    
    .sub-menu ul li a {
      margin-bottom: 0;
      padding: 5px;
      border-radius: 4px;
    }


  }





  
  

